<ion-view view-title="Feedback">
  <ion-content>
    <div class="row">
        <div class="col" style="border: none">
        
            <div class="item item-divider">
              Feedback
            </div>
            <div class="item item-text-wrap">
              <form>
              <div class="list">                
                <div class="input-field">
                  <label for="email">Phone Number</label>
              <input type="text" id="email" class="validate" ng-model="adminNumber" disabled>              
            </div>
              <rating ng-model="ratingFull.rate" max="ratingFull.max"></rating>
            </div>
                
              <div class="input-field">
                              <label for="textarea">Your message here...</label>
              <textarea id="textarea" class="materialize-textarea" ng-model="$parent.adminText"></textarea>
            </div>
            <input type="submit" id="submit" value="Submit" ng-click="invokemsgFunc();"
                   class="button button-block teal lighten-2 white-text">
              </form>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>
