<ion-view view-title="Contact Details">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Student Name</span>
          <input type="text" ng-model="StudentName">
        </label>
        <label class="item item-input">
          <span class="input-label">Pnone Number</span>
          <input type="text" ng-model="PhoneNumber">
        </label>
        <label class="item item-input">
          <span class="input-label">Message</span>
          <textarea rows="4" cols="50" placeholder="Comments" id="MessagetoSend"></textarea>
        </label>
      </div>
      <button class="button button-block button-positive" ng-click=sendMessage();>Send</button>
    </form>
  </ion-content>
</ion-view>
